.app-container {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 1rem;
    width: 100%;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th,
  td {
    border: 1px solid #ffffff;  
    padding: 0.2rem;
    font-size: 1rem;
  }
  
  th {
    background-color: rgb(117, 201, 250);
    text-align: center;
  }
  
  td {
    background-color: rgb(205, 235, 253);
    text-align: left;
  }

